body {
    margin: 0;
    overflow: hidden;
}

.window {
    position: absolute;
    height: 500px;
    width: 700px;
    top: 20%;
    left: 32%;
    border: 1px solid #000;
    resize: both;
    overflow: hidden;
    border-radius: 10px;
}

.title-bar {
    background-color: #333;
    color: #fff;
    padding: 5px;
    cursor: move;
    user-select: none;
}

.content {
    padding: 10px;
    background-color: black;
    height: 100%;
    color: white;
}


.close-btn,
.minimize-btn,
.maximize-btn {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    float: right;
    margin-right: 5px;
}

.close-btn:hover,
.minimize-btn:hover,
.maximize-btn:hover {
    background-color: #555;
}
/* ... */

#barretache {
    color: red;
}
